
body 
  font-family: 'Nunito', sans-serif

*
  box-sizing: border-box


//navbar
.nav 
  height: 4.5rem
  align-content: center

.log
  color: rgba(255,255,255,.5)

.log:hover
  color: rgba(255,255,255,.75)
  text-decoration: none

//login

.login-dark
  height: 100vh
  background: #475d62 url('./assets/images/loginbackground.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  position: relative

.login-dark .log
  max-width: 320px
  width: 90%
  background-color: #1e2833
  padding: 40px
  border-radius: 4px
  transform: translate(-50%, -50%)
  position: absolute
  top: 50%
  left: 50%
  color: #fff
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2)

.login-dark .log .form-control
  background: none
  border: none
  border-bottom: 1px solid #434a52
  border-radius: 0
  box-shadow: none
  outline: none
  color: inherit

.login-dark .log .btn-primary
  background: #214a80
  border: none
  border-radius: 4px
  padding: 11px
  box-shadow: none
  margin-top: 26px
  text-shadow: none
  outline: none

.login-dark .log .btn-primary:hover, .login-dark .log .btn-primary:active
  background: #214a80
  outline: none

.login-dark .log .forgot
  display: block
  text-align: center
  font-size: 12px
  color: #6f7a85
  opacity: 0.9
  text-decoration: none

.login-dark .log .forgot:hover, .login-dark .log .forgot:active
  opacity: 1
  text-decoration: none

.login-dark .log .btn-primary:active
  transform: translateY(1px)

//register
.reg
  font-size: 24px
  line-height: 1.5
  color: white
  text-align: center

.register-dark
  height: 100vh
  background: #475d62 url('./assets/images/registerovbackground.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  position: relative

.register-dark .regForm
  max-width: 320px
  width: 90%
  background-color: #1e2833
  padding: 40px
  border-radius: 4px
  transform: translate(-50%, -50%)
  position: absolute
  top: 50%
  left: 50%
  color: #fff
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2)

.register-dark .regForm .form-control
  background: none
  border: none
  border-bottom: 1px solid #434a52
  border-radius: 0
  box-shadow: none
  outline: none
  color: inherit

.register-dark .regForm .btn-primary
  background: #214a80
  border: none
  border-radius: 4px
  padding: 11px
  box-shadow: none
  margin-top: 26px
  text-shadow: none
  outline: none

.register-dark .regForm .btn-primary:hover, .register-dark .regForm .btn-primary:active
  background: #214a80
  outline: none

.register-dark .regForm .forgot
  display: block
  text-align: center
  font-size: 12px
  color: #6f7a85
  opacity: 0.9
  text-decoration: none

.register-dark .regForm .forgot:hover, .register-dark .regForm .forgot:active
  opacity: 1
  text-decoration: none

.register-dark .regForm .btn-primary:active
  transform: translateY(1px)


//team

label
  display: block
  font-size: 1rem

.xlab
  opacity: 100%

.notes 
  background-attachment: local
  background-image: linear-gradient(to right, white 10px, transparent 10px), linear-gradient(to left, white 10px, transparent 10px), repeating-linear-gradient(white, white 24px, #ccc 24px, #ccc 25px, white 25px)
  line-height: 24px
  padding: 6px 12px

.charSheet .form-row .form-control
  font-size: 1rem